* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../img/background.png);
    padding: 0 8%;
    box-sizing: border-box;
}

header {
    height: 12%;
    display: flex;
    align-items: center;
    /* background-color: chartreuse;*/
}

.logo {
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    /*background-color: tomato;*/
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-family: fantasy;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #cf4200;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

nav ul li:hover:after {
    width: 100%;
}

.row {
    /*background-color: aqua;*/
    height: 88%;
    display: flex;
    align-items: center;
}

.col {
    /*background-color: cadetblue;*/
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
    font-family: monospace;
}

p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    width: 180px;
    color: #000;
    font-size: 15px;
    padding: 15px 0;
    border: 0;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    margin-top: 30px;
}

.cart {
    /*background-color: forestgreen;*/
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
}

.cart1 {
    background-image: url(../img/pic-1.png);
}

.cart2 {
    background-image: url(../img/pic-2.png);
}

.cart3 {
    background-image: url(../img/pic-3.png);
}

.cart4 {
    background-image: url(../img/pic-4.png);
}

.cart:hover {
    transform: translateY(-10px);
}